// TODO ver se isso e o mais rapido
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@import "./reset.scss";

// Typography

body {
  font-family: Inter;
}

.text {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.title {
  font-size: 3rem;
  font-style: normal;
  font-weight: bolder;
  line-height: normal;
}

.subtitle {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}

.button {
  display: flex;
  padding: 0.375rem 0.75rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;

  border-radius: 0.3125rem;
  border: 1px solid #000;
  opacity: 0.7;
  background: linear-gradient(180deg, #e4e4e4 0%, #f7f7f7 100%);
  cursor: pointer;
  user-select: none;
}

// color

.accent-text {
  color: #4e9590;
}

.brackets {
  color: #f2cab8;
  font-weight: bolder;
}

.invalid {
  color: #bf0e0e;
}

// Home page
.homepage {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 102px 46px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;

  input[type="file"] {
    display: none;
  }
}

.json-viewer {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 0rem 2.875rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0 1.5rem 0;

  .page-container {
    width: 45%;
    height: 100%;

    .json-container {
      margin-top: 0.5rem;

      .text {
        line-height: 1.3rem;
      }

      .label {
        display: inline-block;
        color: #bfbfbf;
        padding-right: 0.4rem;
      }

      .number,
      .string,
      .bool,
      .null,
      .brackets {
        display: inline-block;
      }

      // .item {
      //   display: grid;
      //   grid-template-columns: 1rem auto;
      //   grid-template-rows: auto ;
      //   column-gap: 0.4rem;
      // }

      .object-content,
      .list-content {
        padding-left: 1rem;
        border-left: 0.15rem #bfbfbf solid;
      }

      .object-content {
        > .item {
          > .label {
            color: #4e9590;
          }
        }
        &.root {
          border: none;
          padding: 0;
        }
      }
    }
  }
}
